$div-width: 1920;
$div-height: 960;
$ratio: $div-width / $div-height;

.reader {
    width: 100vw;
    height: 100vh;

    .page {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        outline: 0px;

        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

        @media screen and (max-width: (100 * $ratio) + vh) {
            width: 100vw;
            height: (100 / $ratio) + vw;
        }

        @media screen and (min-width: (100 * $ratio) + vh) {
            width: (100 * $ratio) + vh;
            height: 100vh;
        }

        @media screen and (min-width: 1600px) {
            @media screen and (max-width: (100 * $ratio) + vh) {
                width: 85vw;
                height: (85 / $ratio) + vw;
            }
    
            @media screen and (min-width: (100 * $ratio) + vh) {
                width: (85 * $ratio) + vh;
                height: 85vh;
            }
        }

        img {
            width: 100%; /* or any custom size */
            height: 100%; 
            object-fit: contain;
        }

        .pageConent {
            width: 100%;
            height: 100%;
        }

        .pageImageLeftShadow {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: -71px 0px 100px -86px rgba(34, 60, 80, 1) inset;
            top: 0;
            left: 0;
        }

        .pageImageRightShadow {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 71px 0px 100px -86px rgba(34, 60, 80, 1) inset;
            top: 0;
            left: 0;
        }
    }

    /*======*
     * Reader controller
     *===*/
    .controlPanel {
        position: absolute;
        width: 280px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto 5px auto;
        padding: 0;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .closeButton {
            margin-left: auto;
        }

        .startPageButton {
            display: none;
        }

        @media screen and (min-width: 360px) {
            .startPageButton {
                display: unset;
            }
        }

        @media screen and (min-width: 769px) {
            width: 500px;
        }
    }

    .showControlPanel {
        position: absolute;
        width: fit-content;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 0 5px 5px;
        padding: 0;
    }
}
