@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
$accent: #f8e9a1 !default;
$accent-active: #ff8080 !default;
$background: #a8d0e6b6 !default;
$main-1: #3747856e !default;
$main-2: #24305e !default;

$def-border-radius: 10px;

body {
    width: 100vw;
    height: 100vh;
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-weight: initial;
    background-color: $background;    
}