@import '../app.scss';

.cardContainer {
    flex-wrap: wrap;
    
    display: flex;
    padding: 15px;
    gap: 15px;
    margin: 1rem 0;
    border-radius: 10px;
    position: relative;
    background-color: $main;
    color: #ffffff;

    .coverContainer {
        display: contents;
        
        .cover {
            width: 100%;
            object-fit: contain;
            position: relative;
            border-radius: $def-border-radius;
            transition: transform 0.3s ease-in-out;
        }
    }   

    .separator {
        display: none;
        width: 50px;
        height: 5px;
        border-radius: 5px;
        background-color: $accent;
        transition: width 0.2s ease-in-out;
    }
    
    .textContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 5px;

        .title {
            margin: 0;
            display: none;
            font-size: 1.5rem;
        }
        .title:hover {
            cursor: pointer;
            color: $accent-active;
            transition: color 0.2s ease-in-out;
        }

        .descripion {
            display: none;
            overflow: scroll;
            text-overflow: ellipsis;
            text-align: justify;
            margin: 0;
        }

        .tagsContainer {
            display: flex;
            flex-flow: row wrap;
            gap: 5px;
            font-size: 14px;
            padding: 0;
            margin: 0;
        
            .tagItem {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                background: rgba(83, 83, 83, 0.4);
                border-radius: 3px;
                padding: 2.5px 10px;
                cursor: default;
                user-select: none;
                transition: background-color 0.3s;
        
                &:hover {
                    background: rgba(83, 83, 83, 0.8);
                }
            }
        }
    }

    &:hover .separator {
        width: 100px;
    }
}

@media screen and (min-width: 450px) {
    .cardContainer {
        flex-wrap: nowrap;
        display: flex; 

        .coverContainer {            
            .cover {
                height: 180px;
                width: 180px;
            }
        }  
    
        .separator {
            display: block;
        }
        
        .textContainer {
            position: relative;
            display: flex;
            flex-direction: column;
    
            .title {
                display: unset;
                font-size: 1.75rem;
            }
        }

        &:hover {
            .cover {
                transform: scale(1.1);
            }
        }
    } 
}

@media screen and (min-width: 769px) {
    .cardContainer {
    
        .coverContainer {            
            .cover {
                width: 200px;
                height: 200px;
            }
        }  

        .separator {
            height: 10px;
        }
        
        .textContainer {
            .title {
                font-size: 2rem !important;
            }

            .descripion {
                display: inline-block;
                height: 111px;
            }
        }  
    }
}